.imgSection{
    position: relative;
}


.onImgText{
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: "quicksand";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}

.onImgText > h1{
    font-size: 50px;
    font-weight: bolder;
    margin: 0px 0px 0px 0px;
}

.herogredient{
    position: absolute;
    height: 600px;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 2 ;
    background: linear-gradient(rgb(35, 48, 56) 6.69%, rgba(35, 48, 56, 0) 100%);
}

.imgSection > img { 
    
    height: 600px;
    z-index: 1;
}
.bookBtn{
    margin:0px 20px 0px 0px   ;
    padding: 0.5rem 1.8rem ;
    color:  rgba(255, 255, 255, 0.9) ;
    background-color: transparent ;
    border: 2px solid rgba(255, 255, 255, 0.9) ;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 2px ; 
    cursor: pointer ;
}

.ExperianceContainer{
background-color:    rgb(35, 48, 56) ;
color : white;
padding: 50px 0px 50px 0px;
}
.ExperianceContainer > h1{
    font-size: 50px;
    margin: 50px 0px 50px 0px; 
    font-weight: bolder;
    text-align: center;
    font-family: "quicksand";
}
.ExperianceContainer > p{
    font-size: 16px;
    margin: 50px 150px 50px 150px; 
    font-weight: bolder;
    text-align: center;
    font-family: "quicksand";
}