.ContainerLogin {
    width: 100vw;
    height: 100vh;
    display: grid;
    font-family: 'Quicksand';
    font-weight: bold;; 
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    background-color: #EEEEEE;
}
.FromGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SideBar{
    height: 100%;
    background-color:  rgb(35, 48, 56);
    font-size: larger;
    /* background-color: #3876BF; */
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
    font: "quicksand";
    font-weight: bolder !important;
    
}


.FormInputs {
    width: 400px;
    height: 50px;
    border-radius: 6px;
    background-color: #eff7fc;
    margin-bottom: 10px;
    color: #242424;
}

.UserName {
    background-image: url(../../images/user.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    font-size: 20px;
    background-size: 23px;
    border: solid 1px #FDF5E6;
}
.password {
    background-image: url(../../images/password.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    font-size: 20px;
    background-size: 23px;
    border: solid 1px #FDF5E6;
}
.SignupBtn {
    margin-top: 40px;
    background-color: white;
    color: black;
    border:none; 
    width:  200px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.SignupBtn:hover {
    box-shadow: 1.5px 1.5px 1.5px 1.5px #676767;
    transition: 0.5s;
}

.LoginForm h1 {
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #000000;
}
.LoginForm{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    font-weight: bold;
}


.LoginBtn {
    margin-top: 40px;
    background-color:  rgb(35, 48, 56);
    /* background-color: #3876BF; */
    border: None;
    width: 200px;
    height:50px;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.msgLogin {
    font-size :18px;
}
.LoginBtn:hover {
    box-shadow: 1px 1px 1px 1px #676767;
    transition: 0.5s;
 
}
.LoginForm {
    /* background: linear-gradient(-45deg,  rgb(35, 48, 56),   rgb(35, 48, 56),  rgb(246, 205, 158), white); */
    background: linear-gradient(-45deg,  rgb(255, 204, 176), #dadada, white, white);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}