.myCustomSelect {
    height: 50px; /* or whatever size you want */
    background-color: white;
    color: black; 
  }
.RegistrationHeader{
    width: 100%;
    font-size: 2.5rem;
    font-family: "Quicksand";
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    /* color: #246abb; */
    font-weight: bolder;

}
.FormInputBox{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #eff7fc;
    margin-bottom: 10px;
    color: #242424;
    border : none; 
    font-size: 16px;
}